[submodule "rpi-control-center"]
	path = rpi-control-center
	url = https://github.com/afkham/rpi-control-center.git
[submodule "speed-camera"]
	path = speed-camera
	url = https://github.com/pageauc/speed-camera.git
[submodule "flickrup"]
	path = flickrup
	url = https://github.com/drcursor/flickrup.git
[submodule "rpi-can-logger"]
	path = rpi-can-logger
	url = https://github.com/JonnoFTW/rpi-can-logger.git
[submodule "raspberrypi-locationtracker"]
	path = raspberrypi-locationtracker
	url = https://github.com/vikash-gupta/raspberrypi-locationtracker.git
[submodule "rpi-open-firmware"]
	path = rpi-open-firmware
	url = https://github.com/christinaa/rpi-open-firmware.git
[submodule "RevolutionPi/piControl"]
	path = RevolutionPi/piControl
	url = https://github.com/RevolutionPi/piControl.git
[submodule "RevolutionPi/IODeviceExample"]
	path = RevolutionPi/IODeviceExample
	url = https://github.com/RevolutionPi/IODeviceExample.git
[submodule "fm-transmitter"]
	path = fm-transmitter
	url = https://github.com/markondej/fm_transmitter.git
[submodule "raspberry-pi-mp3-player"]
	path = raspberry-pi-mp3-player
	url = https://github.com/tahaemara/raspberry-pi-mp3-player.git
